#index_banner_image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/image/mainpage.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 300px;
}

#index_banner_text {
    text-align: center;
}

#index_column{
    float:left;
    width:33.33%;
    padding:10px;
}

#index_row:after{
    content:"";
    display:table;
    clear:both;
}

#index_row{
    margin-left: 0px;
    margin-right: 0px;
}

@media screen and (max-width: 600px){
    .column{
        width:100%;
    }
}