/*USER DEFINED CSS*/

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.rounded figure-img img-fluid{
    border-style: double;
    border-color: gray;
    vertical-align: top;
}
.image_popup{
    position: absolute;
    height: 200px;
    right: 2px;
    bottom: 300px;
    z-index: 1;
}

.image_popup img{
    height: 400px;
    border: 10px solid #008080;
    border-radius: 100px;
}
.adoptCat{
    text-align: center;   
}

figure img{
    max-width: 100%;
    transition: all 0.3s;
    display: block;
    transform: scale(1);
}


.figure h4{
    text-align: center;
    font-style: italic;
}
.figure{
    margin: auto;
    overflow: hidden;

}
.appointmentCat{
    text-align: center;
 }
 figcaption{
     text-align: left;
 }
 

.figure:hover img {
    transform: scale(1.1);
}





/*About Us page*/
.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}

/*Admin Nav View*/
.dropdown:hover>.dropdown-menu {
    display: block;
    margin-top: 0px;
}

.appointmentImage{
    border: 5px solid #008080;
    border-radius: 10px;
}